{% extends 'base.html' %}

{% block title %}{{ site_title }} | {{ site_subtitle }}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<section class="hero min-h-screen bg-emerald-800">
    <div class="hero-overlay bg-repeat w-full h-full text-primary-100 heropattern-topography-emerald-900 bg-opacity-25"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-full">
        <h1 class="mb-5 text-6xl lg:text-9xl font-serif">{{ site_title }}</h1>
        <p class="mb-5 text-xl font-sans font-normal">{{ site_subtitle }}</p>
        <label class="input input-bordered relative flex items-center gap-2 bg-emerald-100 max-w-xl mx-auto">
          <input type="text" name="search" id="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="grow custom-placeholder text-emerald-950" placeholder="Digite o nome da empresa ou uma área de atuação" />
          <div id="suggestions-container" class="absolute right-12 z-10 w-auto max-w-xl mt-1 bg-emerald-800 bg-opacity-95 backdrop-blur-sm text-emerald-50 text-left rounded-md shadow-lg overflow-hidden">
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="emerald-950" class="w-6 h-6"><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
        </label>
        <a class="btn btn-outline btn-ghost mt-5 mr-4" href="/lista-empresas">Todas as empresas</a>
        <a class="btn btn-outline btn-ghost mt-5" href="/sobre">Sobre o projeto</a>
    </div>
  </section>
{% endblock %}

{% block scripts %}
<script>
    document.getElementById('search').addEventListener('input', function() {
        const inputVal = this.value;
        // Verifica se o usuário digitou 3 ou mais caracteres
        if (inputVal.length >= 3) {
            fetch(`/busca?q=${encodeURIComponent(inputVal)}`)
                .then(response => response.json())
                .then(data => {
                    const suggestionsContainer = document.getElementById('suggestions-container');
                    suggestionsContainer.innerHTML = ''; // Limpa sugestões antigas
                    data.forEach((item) => {
                        const div = document.createElement('div');
                        div.textContent = item.name;
                        div.classList.add("p-2", "hover:bg-emerald-900", "cursor-pointer");
                        div.onclick = function() {
                            window.location.href = `/empresa/${item.slug}`;
                        };
                        suggestionsContainer.appendChild(div);
                    });
                });
        } else {
            // Limpa as sugestões se o comprimento da string for menor que 3
            document.getElementById('suggestions-container').innerHTML = '';
        }
    });
</script>    
{% endblock %}