{% extends 'base.html' %}

{% block title %}Lista de empresas | {{ site_title }} {% endblock %}

{% block nav %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 pt-8 pb-16">
  <h1 class="text-4xl md:text-6xl font-serif font-bold mb-2.5 mt-16">Empresas Cadastradas</h1>
  <div class="badge badge-outline">Total de empresas: {{ empresas|length }}</div>
  <div class="bg-gradient-to-br from-emerald-200 to-emerald-100 shadow overflow-hidden rounded-md mt-16">
    <ul class="divide-y divide-emerald-100">
      {% for empresa in empresas %}
      <li class="px-6 py-4">
        <a href="/empresa/{{ empresa.Codigo_CVM }}" class="text-emerald-800 hover:text-emerald-950">{{ empresa.Nome_Companhia }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}