{% extends 'base.html' %}

{% block title %}Relatórios ESG | {{ site_title }} {% endblock %}

{% block nav %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto px-4 pt-8 pb-16">
  <h1 class="text-4xl md:text-6xl font-serif font-bold mb-2.5 mt-16">Relatórios divulgados</h1>
  <div class="bg-gradient-to-br from-emerald-200 to-emerald-100 shadow overflow-hidden rounded-md mt-16">
    <div class="overflow-x-auto">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="px-4 py-2 text-left">Empresa</th>
            <th class="px-4 py-2 text-left">Relatórios</th>
          </tr>
        </thead>
        <tbody>
          {% for empresa in empresas %}
          <tr class="hover:bg-emerald-200">
            <td class="border px-4 py-2">{{ empresa.Nome }}</td>
            <td class="border px-4 py-2">
              {% for url in empresa.URLs %}
                {% if url|length > 30 %}
                  <p><a href="{{ url }}" target="_blank" title="{{ url }}">{{ url[:27] }}...</a></p>
                {% else %}
                  <p><a href="{{ url }}" target="_blank" title="{{ url}}">{{ url }}</a></p>
                {% endif %}
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
      